DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
APP_URL=
NEXT_PUBLIC_APP_URL=
BLOB_READ_WRITE_TOKEN=
STORAGE_DRIVER=
EMAIL_PROVIDER=
RESEND_API_KEY=
EMAIL_USER=
EMAIL_PASS=
SMTP_HOST=
SMTP_PORT=
EMAIL_FROM_ADDRESS='"GUB ADS Department" <ads.department.gub@gmail.com>'
COMMUNICATION_CRON_SECRET=
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=
PUSHER_APP_ID=
PUSHER_SECRET=
SEED_ADMIN_ID=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_MODERATOR_ID=
SEED_MODERATOR_EMAIL=
SEED_MODERATOR_PASSWORD=
SEED_MENTOR_ID=
SEED_MENTOR_EMAIL=
SEED_MENTOR_PASSWORD=
SEED_MENTOR_NAME=
