DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
APP_URL=
EMAIL_PROVIDER=
RESEND_API_KEY=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM_ADDRESS=
COMMUNICATION_CRON_SECRET=
SEED_ADMIN_ID=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_MODERATOR_ID=
SEED_MODERATOR_EMAIL=
SEED_MODERATOR_PASSWORD=
SEED_MENTOR_ID=
SEED_MENTOR_EMAIL=
SEED_MENTOR_PASSWORD=
SEED_MENTOR_NAME=
